.contacts {
  position: relative;
  width: 100%;
  padding-top: 80px;
  background: #040221;
  background-image: url(../img/background2.jpg);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -28.5px;
    width: 56px;
    height: 32px;
    border: 30px solid transparent; border-top: 20px solid $white;
  }
}

.contacts__wrapper {
  @include desktop-container;
  text-align: center;
    max-width: 632px;
}

.contacts__title {
  padding: 0;
  margin: 0;
  margin-bottom: 7px;

  color: $white;
  font-size: 35px;
  line-height: 50px;
  font-weight: 400;
  letter-spacing: 0.025em;

  &--bold {
    font-weight: 700;
  }
}

.contacts__text {
  padding: 0;
  margin: 0;
  margin-bottom: 58px;

  font-size: 16px;
  line-height: 30px;
  color: $white;
}

.contacts__form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__input {
  width: 306px;
  height: 50px;
  padding: 15px 30px;
  margin-bottom: 20px;
  border-radius: 7px;
}

.contacts__textarea {
  width: 100%;
  border-radius: 7px;
  padding: 25px 30px;
  margin-bottom: 27px;
}

.contacts__button-text-B {
      display: none;
}

.contacts__button {
  margin: 0 auto;
  margin-bottom: 55px;
  background: transparent;
  padding: 15px 62px;
  border: 1px solid $white;

  &:hover {
    padding: 15px 27px;
    .contacts__button-text-A {
      display: none;
    }

    .contacts__button-text-B {
      display: block;
    }
  }
}
