@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -$max-width;
  }
}

.intro {
  position: relative;
  width: 100%;
  min-height: 600px;
  padding-top: 127px;
  margin-bottom: 15px;
  background-color: $backgroung-color2;
  background-image: url("../img/main-background.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;

  &::before {
    background-position-x: 400px;
  }
}

.intro__wave {
  position: absolute;
  content: '';
  display: block;
  bottom: 0;
  background-image: url("../img/Shape-12.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 125px;

  &::before {
    background-position-x: 900px;
  }
}


.intro,
.intro__wave {
  &::before,
  &::after {
    position: absolute;
    content: '';
    display: block;
    bottom: 0;
    background-image: url("../img/Shape-12-7.svg");
    background-repeat: repeat-x;
    width: 5000px;
    height: 125px;
    animation: wave 20s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.2;
  }
}

.intro__wrapper {
  @include desktop-container;
  display: flex;
  align-items: center;
  padding-left: 90px;
}

.intro__logo {
  width: 225px;
  margin-right: 120px;
  margin-bottom: 20px;
}

.intro__title {
  text-align: center;
  padding: 0;
  margin: 0;

  font-size: 80px;
  line-height: 1;
  font-weight: 800;
  letter-spacing: 0.08em;
  color: $white;

  &--second {
    display: block;
    padding-top: 13px;
    margin-bottom: 5px;
    height: 42px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: normal;
    text-transform: uppercase;
    color: #172592;
    z-index: 1;
    background-color: $white;
    border-radius: 14px 0px 14px 0px;
  }

  &--third {
    font-size: 22px;
    letter-spacing: normal;
  }
}

.intro__features-list {
  width: 390px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.intro__features-items {
  position: relative;
  margin-bottom: 100px;
  padding-left: 50px;

  &:last-child {
    margin-bottom: 0;
  }

  &--avenue,
  &--creating,
  &--changing {
    &::before {
      position: absolute;
      left: 0;
      content: '';
      display: block;
      width: 33px;
      height: 33px;
      background-repeat: no-repeat;
    }
  }

  &--avenue {
    &::before {
       background-image: url("../img/header-icon-1.svg");
    }
  }

  &--creating {
    &::before {
       background-image: url("../img/header-icon-2.svg");
    }
  }

  &--changing {
    &::before {
       background-image: url("../img/header-icon-4.svg");
    }
  }
}

.intro__text {
  padding: 0;
  margin: 0;

  color: $white;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
}
