.products {
  position: relative;
  width: 100%;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        // height: 0;
        // -webkit-transform: translate3d(100%, 0, 0);
        // transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        // height: auto;
        // -webkit-transform: none;
        // transform: none;
    }
}

@keyframes fadeOutleft {
    0% {
        opacity: 1;
        height: auto;
        // -webkit-transform: none;
        // transform: none;
    }

    100% {
        opacity: 0;
        height: 0;
        // -webkit-transform: translate3d(-100%, 0, 0);
        // transform: translate3d(-100%, 0, 0);
    }

}

.products__slider {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.products__items {
  min-width: 100%;
  position: relative;
  top: 0;

  &--active {
    height: auto;
    opacity: 1;
    animation: fadeInLeft  1s 1 ease-in-out;
  }

  &--not-active {
    height: 0;
    opacity: 0;
  }
}

.products__wrapper {
  width: 100%;
  display: flex;
  padding-right: 135px;
  justify-content: space-between;

  &--left {
    padding-right: 0;
    padding-left: 135px;
  }
}

.products__picture {
  height: 482px;
  margin: 0;
  padding: 0;
}

.products__desc {
  padding-top: 58px;
  flex-grow: 1;
  text-align: right;
  max-width: 500px;

  &--left {
    text-align: left;
  }
}

.products__pre-title {
  margin: 0;
  padding: 0;

  font-size: 24.9px;
  line-height: 32px;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

.products__name {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-size: 54.77px;
  line-height: 59.75px;
  letter-spacing: 0.1em;

  font-weight: 800;
  text-transform: uppercase;
}

.products__text {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 25px;
  margin-bottom: 40px;

  color: #808080;
}

.products__button {
  margin-bottom: 85px;
  padding: 15px 30px;
}

.products__pagination {
  position: absolute;
  bottom: 40px;
  right: 135px;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: flex-end;

  &--left {
    right: auto;
    left: 135px;
  }
}

.products__point {
  display: block;
  margin-left: 10px;
  width: 14px;
  height: 14px;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  background-color: $text-color3;

  &:hover,
  &:focus {
    background-color: $hover-color;
  }

  &--active {
    background-color: $black;
    cursor: auto;

    &:hover,
    &:focus {
      background-color: $black;
    }
  }
}
