body {
  margin: 0 auto;
  padding: 0;

  width: $max-width;
  background-color: $backgroung-color1;
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  font-size: $fontsize;
  line-height: 25px;
  color: $text-color1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 10px 35px;
  margin: 0;

  align-self: center;

  color: $text-color2;
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: $button-color;
  border: none;
  box-shadow: 0px 7px 7px 0px rgba(30,121,233,0.3);

  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $hover-color;
  }
}
