// width
$desktop-width: 1170px;
// color
$text-color1: #3c3c3c;
$text-color2: #ffffff;
$text-color3: #7f7f7f;
$backgroung-color1: #ffffff;
$backgroung-color2: #0481ed;
$backgroung-color3: #7062ed;
$footer-color: #42b549;
$button-color: #2c67b1;
$hover-color: #f4213a;
$white: #ffffff;
$black: #292929;
// text
$font-family: "Open Sans", "Arial", sans-serif;
$fontsize: 14px;
